* {
    box-sizing: border-box;
    font-family: Nunito;
}

body {
    /*background: url("assets/Background.jpg");
    background-attachment: fixed;
    background-position: center center;*/
    margin: 0px;
    margin-top: 60px;
}

header {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
}

/* NAVIGATION BAR */
.navbar {
    overflow: hidden;
    display: flex;
    height: 60px;
    font-size: 18px;
    background-color: #2F3E4E;
}
.bars, .menu a, .socials a {
    margin: auto;
    text-decoration: none;
    text-align: center;
}
/* Logo */
.logo {
    display: block;
    width: 220px;
    background: url("assets/logo.png") no-repeat center center;
    background-size: 200px;
}
/* Menu */
.menu {
    flex-grow: 2;
    display: flex;
}
.menu a {
    flex-grow: 1;
    padding: 18px 7px 18px 7px;
    color: #EDF0F1;
}
.menu a:hover, .mobile-menu a:hover {
    background-color: #10151A;
    animation-name: backgroundColorFade;
    animation-duration: 1s;
}
.active {
    background-color: #447EB4;
}
.active:hover {
    background-color: #447EB4 !important;
    animation-duration: 0s !important;
}
@keyframes backgroundColorFade {
    from {background-color: #2F3E4E;}
    to {background-color: #10151A;}
}
/* Socials */
.socials {
    flex-grow: 1;
    display: flex;
    background-color: #39495C;
}
.socials a {
    flex-grow: 1;
    padding: 18px 5px 18px 5px;
    color: #EDF0F1;
}
.socials a:hover {
    color: #5296D5;
    animation-name: colorFade;
    animation-duration: 1s;
}
@keyframes colorFade {
    from {color: #EDF0F1;}
    to {color: #5296D5;}
}
/* Mobile menu */
.bars, .mobile-menu {
    display: none;
}
/* Media queries */
@media screen and (max-width: 616px) {
    .menu, .socials {
        display: none;
    }
    .bars {
        display: block;
        padding: 18px 15px 18px 15px;
        color: #EDF0F1;
    }
    .bars:hover {
        background-color: #10151A;
        animation-name: backgroundColorFade;
        animation-duration: 1s;
    }
    .logo {
        flex-grow: 1;
    }
    .main.responsive {
        margin-left: 200px !important;
    }
    .mobile-menu.responsive {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: #39495C;
    }
    .mobile-socials.responsive {
        display: flex;
    }
    .mobile-socials.responsive a {
        flex-grow: 1;
    }
    .mobile-menu.responsive a {
        text-decoration: none;
        text-align: center;
        padding: 15px;
        color: #EDF0F1;
    }
}

#game {
    position: relative;
    max-width: 75%;
    margin: auto;
    margin-top: 100px;
    background-color: #39495C;
}

#logo {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    z-index: 100;
}

#logo img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #logo {
        top: -25px;
        left: -25px;
        width: 50px;
    }
}

#screenshot {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#screenshot img {
    width: 100%;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {

}

/* MAIN */
main {
    padding: 10px;
    background-color: #EDF0F1;
    margin: auto;
    margin-top: auto;
    overflow-x: auto;
}

footer {
    display: block;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    color: #818C8D;
    background-color: #EDF0F1;
}
