* {
    box-sizing: border-box;
    font-family: Verdana;
}

#navbar {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 5;
    padding: auto;
    overflow: hidden;
    background-color: #2F3E4E;
}
#navbar a {
    float: left;
    display: block;
    color: #EDF0F1;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #10151A;
}
.active {
    background-color: #447EB4;
}
.active:hover {
    background-color: #447EB4;
}

main {
    padding: 10px;
    background-color: #EDF0F1;
    margin: auto;
    margin-top: auto;
    overflow-x: auto;
}